@import 'reset';
@import 'variables';
@import 'mixins';
@import 'functions';


/* -------FONTS------- */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');


/* -------HOME------- */
.home-body{
    @include flex-around(column);
    background-image: url(/starter-code/assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}