/* ---------NAV BAR--------- */

.ham {
    z-index: 110;
    margin-right: 10%
  }
  
  .header-mobile {
    @include flex-between(row, 1.5rem);
  }
  
  .menu-container {
    @include flex-start-x(column, 1rem);
    z-index: 100;
    height: 100vh;
    width: 70%;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,255,255,1));
    
  
    .link-container {
      @include flex-start-y(column, 2rem);
      list-style: none;
  
      a {
        text-decoration: none;
        color: $primary;
        font-family: $barlow;
        font-size: $fs-nav;
        letter-spacing: $cs-txt;
      }
    }
  }
  
  /* ---------HIDE NAV------ */
  .hide {
    display: none;
  }