/* --------------COLORS-------------- */
$primary: #d0d6f9;
$dark: #0b0d17;
$light: #ffffff;


/* -------------TYPOGRAPHY------------- */

/* -----FONTS----- */
$bellefair: 'Bellefair', serif;
$barlow: 'Barlow Condensed', sans-serif;

/* ------FONT-size----- */
$fs-h1: 9rem;
$fs-h2: 10rem;
$fs-h3: 5.6rem;
$fs-h4: 3.2rem;
$fs-h5: 1.6rem;
$fs-subhead-1: 2.8rem;
$fs-subhead-2: 1.4rem;
$fs-nav: 2rem;
$fs-body: 1.6rem;

/* --------CHARACHTER SPACING-------- */
$cs-h5: .475rem;
$cs-sh-2: .235rem;
$cs-txt: .270rem;