@import "reset";
@import "variables";
@import "mixins";
@import "functions";
@import "nav";

/* -------FONTS------- */
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

.body-crew {
  background-image: url(/starter-code/assets/CREW/background-crew-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  padding: 1.5rem;
  color: $light;
}

/* NAV------------------------------------------------------ */
.navagation-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 15vh;
  padding: 2rem;
  z-index: 10;
}

a {
  text-decoration: none;
}

hr {
  opacity: 0.5;
}

.commander-container,
.specialist-container,
.pilot-container,
.engineer-container {
  height: 90vh;
  margin-top: 10%;
  @include flex-around(column, 0);
}

.crew-title,
.specialist-title,
.pilot-title,
.engineer-title {
  font-size: $fs-h5;
  font-weight: $fw-regular;
  font-family: $barlow;
  letter-spacing: $cs-h5;
  @include flex-center(row, 2rem);
  width: 100%;
  text-transform: uppercase;

  span {
    opacity: 0.5;
  }
}

.commander-img-container {
  background-image: url(/starter-code/assets/CREW/image-douglas-hurley.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.1rem solid rgba($color: $light, $alpha: 0.3);
  width: 17.712rem;
  height: 24rem;
}
.specialist-img-container{
  background-image: url(/starter-code/assets/CREW/image-mark-shuttleworth.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.1rem solid rgba($color: $light, $alpha: 0.3);
  width: 17.712rem;
  height: 26rem;
}
.pilot-img-container{
  background-image: url(/starter-code/assets/CREW/image-victor-glover.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.1rem solid rgba($color: $light, $alpha: 0.3);
  width: 17.712rem;
  height: 24rem;
}
.engineer-img-container {
  background-image: url(/starter-code/assets/CREW/image-anousheh-ansari.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 0.1rem solid rgba($color: $light, $alpha: 0.3);
  width: 17.712rem;
  height: 24rem;
}

.dot-container-commander,
.dot-container-specialist,
.dot-container-pilot,
.dot-container-engineer {
  width: 100%;
  margin: 0;
  ul {
    @include flex-between(row, 0);
    list-style: none;
    width: 20%;
    margin: auto;
    padding: 0;

    li {
      width: 1rem;
      height: 1rem;
      background-color: $light;
      border-radius: 50%;
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.name-title-container-commander,
.name-title-container-specialist,
.name-title-container-pilot,
.name-title-container-engineer {
  @include flex-center(column, 0rem);
  width: 100%;

  .commander-title,
  .specialist-title,
  .pilot-title,
  .engineer-title {
    font-size: $fs-h4;
    font-family: $bellefair;
    font-weight: $fw-regular;
    opacity: 0.5;
    text-transform: uppercase;
  }

  .commander-name,
  .specialist-name,
  .pilot-name,
  .engineer-name {
    font-size: $fs-h3;
    font-family: $barlow;
    font-weight: $fw-regular;
    text-transform: uppercase;
  }
}

.commander-txt,
.specialist-txt,
.pilot-txt,
.engineer-txt {
  width: 100%;
  display: grid;
  place-content: center;

  p {
    font-size: $fs-body;
    font-family: $barlow;
    font-weight: $fw-light;
    text-align: center;
    opacity: 0.5;
  }
}

/* ------------BTN STARTS------------ */
.home-btn-container {
  @include flex-center(column, 1rem);
  margin-top: 7rem;

  .home-btn {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: $light;
    font-family: $bellefair;
    text-transform: uppercase;
    font-size: $fs-nav;
    cursor: pointer;
    border: 0.15rem solid $primary;
  }
}

.shadow-home {
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  background-color: red;
  top: 70.75%;
  left: 33.75%;
  z-index: -1;
  display: none;

  /* para los media query de escritorio estas son las medidas:
    top: 58.8%;
    left: 48.4%; */
}

/* ------------BTN ENDS------------ */
